@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LXGW WenKai TC', cursive;
}

html {
    font-size: 62.5%;
}

.Toastify__toast {
    font-family: 'LXGW WenKai TC', cursive;
    font-size: 16px;
    color: #333;
}

/* Toast body */
.Toastify__toast-body {
    font-family: 'LXGW WenKai TC', cursive;
    font-size: 14px;
    color: gray;
}
